<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TweiDictTypeDao">
	<!-- TweiDictType的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_TweiDictType_Map" type="com.dto.TweiDictType">
		
		<result column="type_id" property="typeId" />
		<result column="type_name" property="typeName" />
		<result column="memo" property="memo" />
		<result column="create_by" property="createBy" />
		<result column="create_at" property="createAt" />
		<result column="update_by" property="updateBy" />
		<result column="update_at" property="updateAt" />
		<result column="data_version" property="dataVersion" />
	</resultMap>

	<!-- assist是查询辅助工具类, ${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="assist">
		<where>
			<foreach collection="require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- updateAssist用于更新数据查询辅助工具类,作用assist与一致 -->
	<sql id="updateAssist">
		<where>
			<foreach collection="assist.require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- 数据库中表名为:twei_dict_type的列名 -->
	<sql id="twei_dict_type_Column">
		type_id,type_name,memo,create_by,create_at,update_by,update_at,data_version
	</sql>

	<!--获得类名为:TweiDictType对应的数据库表的数据总行数 -->
	<select id="getTweiDictTypeRowCount" parameterType="com.common.Assist" resultType="java.lang.Long">
		select count(*) from twei_dict_type
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</select>
	
	<!-- 获得类名为:TweiDictType对应数据库中表的数据集合 -->
	<select id="selectTweiDictType" parameterType="com.common.Assist" resultMap="result_TweiDictType_Map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				<include refid="twei_dict_type_Column" />
			</otherwise>
		</choose>
		from twei_dict_type
		<if test="require!=null">
			<include refid="assist" />
		</if>
		<if test="order !=null">${order}</if>
		<choose>
			<when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
			<when test="rowSize !=null">LIMIT #{rowSize}</when>
		</choose>
	</select>
	
	<!-- 获得一个TweiDictType对象,以参数TweiDictType对象中不为空的属性作为条件进行查询 -->
	<select id="selectTweiDictTypeObjSingle" parameterType="com.dto.TweiDictType" resultMap="result_TweiDictType_Map">
		select
		<include refid="twei_dict_type_Column" />
		from twei_dict_type
		<where>
		<if test="typeId != null"> and type_id = #{typeId}</if>
		<if test="typeName != null"> and type_name = #{typeName}</if>
		<if test="memo != null"> and memo = #{memo}</if>
		<if test="createBy != null"> and create_by = #{createBy}</if>
		<if test="createAt != null"> and create_at = #{createAt}</if>
		<if test="updateBy != null"> and update_by = #{updateBy}</if>
		<if test="updateAt != null"> and update_at = #{updateAt}</if>
		<if test="dataVersion != null"> and data_version = #{dataVersion}</if>
		
		</where>
		LIMIT 1
	</select>
	
	<!-- 获得TweiDictType对象,以参数TweiDictType对象中不为空的属性作为条件进行查询 -->
	<select id="selectTweiDictTypeByObj" parameterType="com.dto.TweiDictType" resultMap="result_TweiDictType_Map">
		select
		<include refid="twei_dict_type_Column" />
		from twei_dict_type
		<where>
		<if test="typeId != null"> and type_id = #{typeId}</if>
		<if test="typeName != null"> and type_name = #{typeName}</if>
		<if test="memo != null"> and memo = #{memo}</if>
		<if test="createBy != null"> and create_by = #{createBy}</if>
		<if test="createAt != null"> and create_at = #{createAt}</if>
		<if test="updateBy != null"> and update_by = #{updateBy}</if>
		<if test="updateAt != null"> and update_at = #{updateAt}</if>
		<if test="dataVersion != null"> and data_version = #{dataVersion}</if>
		
		</where>
	</select>

	<!-- 将TweiDictType插入到对应数据库的表中,包括属性值为null的数据 -->
	<insert id="insertTweiDictType" parameterType="com.dto.TweiDictType">
		insert into 
		twei_dict_type (type_id,type_name,memo,create_by,create_at,update_by,update_at,data_version) 
		values(#{typeId},#{typeName},#{memo},#{createBy},#{createAt},#{updateBy},#{updateAt},#{dataVersion})
	</insert>

	<!-- 将TweiDictType中属性值不为null的数据,插入到对应数据库的表中 -->
	<insert id="insertNotNullTweiDictType" parameterType="com.dto.TweiDictType">
		insert into twei_dict_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="typeId != null">type_id,</if>
			<if test="typeName != null">type_name,</if>
			<if test="memo != null">memo,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createAt != null">create_at,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateAt != null">update_at,</if>
			<if test="dataVersion != null">data_version,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="typeId != null">#{typeId},</if>
			<if test="typeName != null">#{typeName},</if>
			<if test="memo != null">#{memo},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="createAt != null">#{createAt},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="updateAt != null">#{updateAt},</if>
			<if test="dataVersion != null">#{dataVersion},</if>
		</trim>
	</insert>

	<!-- 将TweiDictType批量插入到对应数据库的表中 -->
	<insert id="insertTweiDictTypeByBatch" parameterType="ArrayList">
		insert into twei_dict_type(type_id,type_name,memo,create_by,create_at,update_by,update_at,data_version) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.typeId},#{item.typeName},#{item.memo},#{item.createBy},#{item.createAt},#{item.updateBy},#{item.updateAt},#{item.dataVersion})
		</foreach>
	</insert>
	

	<!-- 通过辅助工具Assist中的条件将TweiDictType对应的数据库表的数据删除 -->
	<delete id="deleteTweiDictTypeByAssist" parameterType="com.common.Assist">
		delete from twei_dict_type
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</delete>
	
	
	
	<!-- 通过辅助工具Assist中的条件将TweiDictType中的数据更新到数据库对应的表中,包括值为null的数据 -->
	<update id="updateTweiDictType" parameterType="map">
		update twei_dict_type
		<set>
			type_id = #{enti.typeId},
			type_name = #{enti.typeName},
			memo = #{enti.memo},
			create_by = #{enti.createBy},
			create_at = #{enti.createAt},
			update_by = #{enti.updateBy},
			update_at = #{enti.updateAt},
			data_version = #{enti.dataVersion},
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>

	<!-- 通过辅助工具Assist中的条件将TweiDictType中属性值不为null的数据更新到数据库对应的表中 -->
	<update id="updateNotNullTweiDictType" parameterType="map">
		update twei_dict_type
		<set>
			<if test="enti.typeId != null">type_id = #{enti.typeId},</if>
			<if test="enti.typeName != null">type_name = #{enti.typeName},</if>
			<if test="enti.memo != null">memo = #{enti.memo},</if>
			<if test="enti.createBy != null">create_by = #{enti.createBy},</if>
			<if test="enti.createAt != null">create_at = #{enti.createAt},</if>
			<if test="enti.updateBy != null">update_by = #{enti.updateBy},</if>
			<if test="enti.updateAt != null">update_at = #{enti.updateAt},</if>
			<if test="enti.dataVersion != null">data_version = #{enti.dataVersion},</if>
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>
</mapper>