<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TweiKnowledgeDao">
	<!-- TweiKnowledge的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_TweiKnowledge_Map" type="com.dto.TweiKnowledge">
		
		<result column="know_id" property="knowId" />
		<result column="know_detail" property="knowDetail" />
		<result column="code_id" property="codeId" />
		<result column="know_type" property="knowType" />
		<result column="is_help" property="isHelp" />
		<result column="is_unhelp" property="isUnhelp" />
		<result column="create_by" property="createBy" />
		<result column="create_at" property="createAt" />
		<result column="update_by" property="updateBy" />
		<result column="update_at" property="updateAt" />
		<result column="data_version" property="dataVersion" />
	</resultMap>

	<!-- assist是查询辅助工具类, ${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="assist">
		<where>
			<foreach collection="require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- updateAssist用于更新数据查询辅助工具类,作用assist与一致 -->
	<sql id="updateAssist">
		<where>
			<foreach collection="assist.require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- 数据库中表名为:twei_knowledge的列名 -->
	<sql id="twei_knowledge_Column">
		code_id,know_id,know_detail,know_type,is_help,is_unhelp,create_by,create_at,update_by,update_at,data_version
	</sql>

	<!--获得类名为:TweiKnowledge对应的数据库表的数据总行数 -->
	<select id="getTweiKnowledgeRowCount" parameterType="com.common.Assist" resultType="java.lang.Long">
		select count(*) from twei_knowledge
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</select>
	
	<!-- 获得类名为:TweiKnowledge对应数据库中表的数据集合 -->
	<select id="selectTweiKnowledge" parameterType="com.common.Assist" resultMap="result_TweiKnowledge_Map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				<include refid="twei_knowledge_Column" />
			</otherwise>
		</choose>
		from twei_knowledge
		<if test="require!=null">
			<include refid="assist" />
		</if>
		<if test="order !=null">${order}</if>
		<choose>
			<when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
			<when test="rowSize !=null">LIMIT #{rowSize}</when>
		</choose>
	</select>
	
	<!-- 获得一个TweiKnowledge对象,以参数TweiKnowledge对象中不为空的属性作为条件进行查询 -->
	<select id="selectTweiKnowledgeObjSingle" parameterType="com.dto.TweiKnowledge" resultMap="result_TweiKnowledge_Map">
		select
		<include refid="twei_knowledge_Column" />
		from twei_knowledge
		<where>
		<if test="codeId != null"> and code_id = #{codeId}</if>
		<if test="knowType != null"> and know_type = #{knowType}</if>
		<if test="isHelp != null"> and is_help = #{isHelp}</if>
		<if test="isUnhelp != null"> and is_unhelp = #{isUnhelp}</if>
		<if test="createBy != null"> and create_by = #{createBy}</if>
		<if test="createAt != null"> and create_at = #{createAt}</if>
		<if test="updateBy != null"> and update_by = #{updateBy}</if>
		<if test="updateAt != null"> and update_at = #{updateAt}</if>
		<if test="dataVersion != null"> and data_version = #{dataVersion}</if>
		<if test="knowId != null"> and know_id = #{knowId}</if>
		<if test="knowDetail != null"> and know_detail = #{knowDetail}</if>
		
		</where>
		LIMIT 1
	</select>
	
	<!-- 获得TweiKnowledge对象,以参数TweiKnowledge对象中不为空的属性作为条件进行查询 -->
	<select id="selectTweiKnowledgeByObj" parameterType="com.dto.TweiKnowledge" resultMap="result_TweiKnowledge_Map">
		select
		<include refid="twei_knowledge_Column" />
		from twei_knowledge
		<where>
		<if test="codeId != null"> and code_id = #{codeId}</if>
		<if test="knowType != null"> and know_type = #{knowType}</if>
		<if test="isHelp != null"> and is_help = #{isHelp}</if>
		<if test="isUnhelp != null"> and is_unhelp = #{isUnhelp}</if>
		<if test="createBy != null"> and create_by = #{createBy}</if>
		<if test="createAt != null"> and create_at = #{createAt}</if>
		<if test="updateBy != null"> and update_by = #{updateBy}</if>
		<if test="updateAt != null"> and update_at = #{updateAt}</if>
		<if test="dataVersion != null"> and data_version = #{dataVersion}</if>
		<if test="knowId != null"> and know_id = #{knowId}</if>
		<if test="knowDetail != null"> and know_detail = #{knowDetail}</if>
		
		</where>
	</select>

	<!-- 将TweiKnowledge插入到对应数据库的表中,包括属性值为null的数据 -->
	<insert id="insertTweiKnowledge" parameterType="com.dto.TweiKnowledge">
		insert into 
		twei_knowledge (code_id,know_id,know_detail,know_type,is_help,is_unhelp,create_by,create_at,update_by,update_at,data_version) 
		values(#{codeId},#{knowId},#{knowDetail},#{knowType},#{isHelp},#{isUnhelp},#{createBy},#{createAt},#{updateBy},#{updateAt},#{dataVersion})
	</insert>

	<!-- 将TweiKnowledge中属性值不为null的数据,插入到对应数据库的表中 -->
	<insert id="insertNotNullTweiKnowledge" parameterType="com.dto.TweiKnowledge">
		insert into twei_knowledge
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="codeId != null">code_id,</if>
			<if test="knowId != null">know_id,</if>
			<if test="knowDetail != null">know_detail,</if>
			<if test="knowType != null">know_type,</if>
			<if test="isHelp != null">is_help,</if>
			<if test="isUnhelp != null">is_unhelp,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createAt != null">create_at,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateAt != null">update_at,</if>
			<if test="dataVersion != null">data_version,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="codeId != null">#{codeId},</if>
			<if test="knowId != null">#{knowId},</if>
			<if test="knowDetail != null">#{knowDetail},</if>
			<if test="knowType != null">#{knowType},</if>
			<if test="isHelp != null">#{isHelp},</if>
			<if test="isUnhelp != null">#{isUnhelp},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="createAt != null">#{createAt},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="updateAt != null">#{updateAt},</if>
			<if test="dataVersion != null">#{dataVersion},</if>
		</trim>
	</insert>

	<!-- 将TweiKnowledge批量插入到对应数据库的表中 -->
	<insert id="insertTweiKnowledgeByBatch" parameterType="ArrayList">
		insert into twei_knowledge(code_id,know_id,know_detail,know_type,is_help,is_unhelp,create_by,create_at,update_by,update_at,data_version) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.codeId},#{item.knowId},#{item.knowDetail},#{item.knowType},#{item.isHelp},#{item.isUnhelp},#{item.createBy},#{item.createAt},#{item.updateBy},#{item.updateAt},#{item.dataVersion})
		</foreach>
	</insert>
	

	<!-- 通过辅助工具Assist中的条件将TweiKnowledge对应的数据库表的数据删除 -->
	<delete id="deleteTweiKnowledgeByAssist" parameterType="com.common.Assist">
		delete from twei_knowledge
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</delete>
	
	
	
	<!-- 通过辅助工具Assist中的条件将TweiKnowledge中的数据更新到数据库对应的表中,包括值为null的数据 -->
	<update id="updateTweiKnowledge" parameterType="map">
		update twei_knowledge
		<set>
			code_id = #{enti.codeId},
			know_id = #{enti.knowId},
			know_detail = #{enti.knowDetail},
			know_type = #{enti.knowType},
			is_help = #{enti.isHelp},
			is_unhelp = #{enti.isUnhelp},
			create_by = #{enti.createBy},
			create_at = #{enti.createAt},
			update_by = #{enti.updateBy},
			update_at = #{enti.updateAt},
			data_version = #{enti.dataVersion},
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>

	<!-- 通过辅助工具Assist中的条件将TweiKnowledge中属性值不为null的数据更新到数据库对应的表中 -->
	<update id="updateNotNullTweiKnowledge" parameterType="map">
		update twei_knowledge
		<set>
			<if test="enti.codeId != null">code_id = #{enti.codeId},</if>
			<if test="enti.knowId != null">know_id = #{enti.knowId},</if>
			<if test="enti.knowDetail != null">know_detail = #{enti.knowDetail},</if>
			<if test="enti.knowType != null">know_type = #{enti.knowType},</if>
			<if test="enti.isHelp != null">is_help = #{enti.isHelp},</if>
			<if test="enti.isUnhelp != null">is_unhelp = #{enti.isUnhelp},</if>
			<if test="enti.createBy != null">create_by = #{enti.createBy},</if>
			<if test="enti.createAt != null">create_at = #{enti.createAt},</if>
			<if test="enti.updateBy != null">update_by = #{enti.updateBy},</if>
			<if test="enti.updateAt != null">update_at = #{enti.updateAt},</if>
			<if test="enti.dataVersion != null">data_version = #{enti.dataVersion},</if>
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>
</mapper>