<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TweiApiParaDao">
	<!-- TweiApiPara的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_TweiApiPara_Map" type="com.dto.TweiApiPara">
		
		<result column="api_id" property="apiId" />
		<result column="para_id" property="paraId" />
		<result column="para_name" property="paraName" />
		<result column="para_type" property="paraType" />
		<result column="para_data_type" property="paraDataType" />
		<result column="is_nullable" property="isNullable" />
		<result column="para_memo" property="paraMemo" />
		<result column="parent_para_id" property="parentParaId" />
		<result column="create_by" property="createBy" />
		<result column="create_at" property="createAt" />
		<result column="update_by" property="updateBy" />
		<result column="update_at" property="updateAt" />
		<result column="data_version" property="dataVersion" />
	</resultMap>

	<!-- assist是查询辅助工具类, ${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="assist">
		<where>
			<foreach collection="require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- updateAssist用于更新数据查询辅助工具类,作用assist与一致 -->
	<sql id="updateAssist">
		<where>
			<foreach collection="assist.require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- 数据库中表名为:twei_api_para的列名 -->
	<sql id="twei_api_para_Column">
		api_id,para_id,para_name,para_type,para_data_type,is_nullable,para_memo,parent_para_id,create_by,create_at,update_by,update_at,data_version
	</sql>

	<!--获得类名为:TweiApiPara对应的数据库表的数据总行数 -->
	<select id="getTweiApiParaRowCount" parameterType="com.common.Assist" resultType="java.lang.Long">
		select count(*) from twei_api_para
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</select>
	
	<!-- 获得类名为:TweiApiPara对应数据库中表的数据集合 -->
	<select id="selectTweiApiPara" parameterType="com.common.Assist" resultMap="result_TweiApiPara_Map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				<include refid="twei_api_para_Column" />
			</otherwise>
		</choose>
		from twei_api_para
		<if test="require!=null">
			<include refid="assist" />
		</if>
		<if test="order !=null">${order}</if>
		<choose>
			<when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
			<when test="rowSize !=null">LIMIT #{rowSize}</when>
		</choose>
	</select>
	
	<!-- 获得一个TweiApiPara对象,以参数TweiApiPara对象中不为空的属性作为条件进行查询 -->
	<select id="selectTweiApiParaObjSingle" parameterType="com.dto.TweiApiPara" resultMap="result_TweiApiPara_Map">
		select
		<include refid="twei_api_para_Column" />
		from twei_api_para
		<where>
		<if test="paraType != null"> and para_type = #{paraType}</if>
		<if test="paraDataType != null"> and para_data_type = #{paraDataType}</if>
		<if test="isNullable != null"> and is_nullable = #{isNullable}</if>
		<if test="paraMemo != null"> and para_memo = #{paraMemo}</if>
		<if test="parentParaId != null"> and parent_para_id = #{parentParaId}</if>
		<if test="createBy != null"> and create_by = #{createBy}</if>
		<if test="createAt != null"> and create_at = #{createAt}</if>
		<if test="updateBy != null"> and update_by = #{updateBy}</if>
		<if test="updateAt != null"> and update_at = #{updateAt}</if>
		<if test="dataVersion != null"> and data_version = #{dataVersion}</if>
		<if test="apiId != null"> and api_id = #{apiId}</if>
		<if test="paraId != null"> and para_id = #{paraId}</if>
		<if test="paraName != null"> and para_name = #{paraName}</if>
		
		</where>
		LIMIT 1
	</select>
	
	<!-- 获得TweiApiPara对象,以参数TweiApiPara对象中不为空的属性作为条件进行查询 -->
	<select id="selectTweiApiParaByObj" parameterType="com.dto.TweiApiPara" resultMap="result_TweiApiPara_Map">
		select
		<include refid="twei_api_para_Column" />
		from twei_api_para
		<where>
		<if test="paraType != null"> and para_type = #{paraType}</if>
		<if test="paraDataType != null"> and para_data_type = #{paraDataType}</if>
		<if test="isNullable != null"> and is_nullable = #{isNullable}</if>
		<if test="paraMemo != null"> and para_memo = #{paraMemo}</if>
		<if test="parentParaId != null"> and parent_para_id = #{parentParaId}</if>
		<if test="createBy != null"> and create_by = #{createBy}</if>
		<if test="createAt != null"> and create_at = #{createAt}</if>
		<if test="updateBy != null"> and update_by = #{updateBy}</if>
		<if test="updateAt != null"> and update_at = #{updateAt}</if>
		<if test="dataVersion != null"> and data_version = #{dataVersion}</if>
		<if test="apiId != null"> and api_id = #{apiId}</if>
		<if test="paraId != null"> and para_id = #{paraId}</if>
		<if test="paraName != null"> and para_name = #{paraName}</if>
		
		</where>
	</select>

	<!-- 将TweiApiPara插入到对应数据库的表中,包括属性值为null的数据 -->
	<insert id="insertTweiApiPara" parameterType="com.dto.TweiApiPara">
		insert into 
		twei_api_para (api_id,para_id,para_name,para_type,para_data_type,is_nullable,para_memo,parent_para_id,create_by,create_at,update_by,update_at,data_version) 
		values(#{apiId},#{paraId},#{paraName},#{paraType},#{paraDataType},#{isNullable},#{paraMemo},#{parentParaId},#{createBy},#{createAt},#{updateBy},#{updateAt},#{dataVersion})
	</insert>

	<!-- 将TweiApiPara中属性值不为null的数据,插入到对应数据库的表中 -->
	<insert id="insertNotNullTweiApiPara" parameterType="com.dto.TweiApiPara">
		insert into twei_api_para
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="apiId != null">api_id,</if>
			<if test="paraId != null">para_id,</if>
			<if test="paraName != null">para_name,</if>
			<if test="paraType != null">para_type,</if>
			<if test="paraDataType != null">para_data_type,</if>
			<if test="isNullable != null">is_nullable,</if>
			<if test="paraMemo != null">para_memo,</if>
			<if test="parentParaId != null">parent_para_id,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createAt != null">create_at,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateAt != null">update_at,</if>
			<if test="dataVersion != null">data_version,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="apiId != null">#{apiId},</if>
			<if test="paraId != null">#{paraId},</if>
			<if test="paraName != null">#{paraName},</if>
			<if test="paraType != null">#{paraType},</if>
			<if test="paraDataType != null">#{paraDataType},</if>
			<if test="isNullable != null">#{isNullable},</if>
			<if test="paraMemo != null">#{paraMemo},</if>
			<if test="parentParaId != null">#{parentParaId},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="createAt != null">#{createAt},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="updateAt != null">#{updateAt},</if>
			<if test="dataVersion != null">#{dataVersion},</if>
		</trim>
	</insert>

	<!-- 将TweiApiPara批量插入到对应数据库的表中 -->
	<insert id="insertTweiApiParaByBatch" parameterType="ArrayList">
		insert into twei_api_para(api_id,para_id,para_name,para_type,para_data_type,is_nullable,para_memo,parent_para_id,create_by,create_at,update_by,update_at,data_version) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.apiId},#{item.paraId},#{item.paraName},#{item.paraType},#{item.paraDataType},#{item.isNullable},#{item.paraMemo},#{item.parentParaId},#{item.createBy},#{item.createAt},#{item.updateBy},#{item.updateAt},#{item.dataVersion})
		</foreach>
	</insert>
	

	<!-- 通过辅助工具Assist中的条件将TweiApiPara对应的数据库表的数据删除 -->
	<delete id="deleteTweiApiParaByAssist" parameterType="com.common.Assist">
		delete from twei_api_para
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</delete>
	
	
	
	<!-- 通过辅助工具Assist中的条件将TweiApiPara中的数据更新到数据库对应的表中,包括值为null的数据 -->
	<update id="updateTweiApiPara" parameterType="map">
		update twei_api_para
		<set>
			api_id = #{enti.apiId},
			para_id = #{enti.paraId},
			para_name = #{enti.paraName},
			para_type = #{enti.paraType},
			para_data_type = #{enti.paraDataType},
			is_nullable = #{enti.isNullable},
			para_memo = #{enti.paraMemo},
			parent_para_id = #{enti.parentParaId},
			create_by = #{enti.createBy},
			create_at = #{enti.createAt},
			update_by = #{enti.updateBy},
			update_at = #{enti.updateAt},
			data_version = #{enti.dataVersion},
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>

	<!-- 通过辅助工具Assist中的条件将TweiApiPara中属性值不为null的数据更新到数据库对应的表中 -->
	<update id="updateNotNullTweiApiPara" parameterType="map">
		update twei_api_para
		<set>
			<if test="enti.apiId != null">api_id = #{enti.apiId},</if>
			<if test="enti.paraId != null">para_id = #{enti.paraId},</if>
			<if test="enti.paraName != null">para_name = #{enti.paraName},</if>
			<if test="enti.paraType != null">para_type = #{enti.paraType},</if>
			<if test="enti.paraDataType != null">para_data_type = #{enti.paraDataType},</if>
			<if test="enti.isNullable != null">is_nullable = #{enti.isNullable},</if>
			<if test="enti.paraMemo != null">para_memo = #{enti.paraMemo},</if>
			<if test="enti.parentParaId != null">parent_para_id = #{enti.parentParaId},</if>
			<if test="enti.createBy != null">create_by = #{enti.createBy},</if>
			<if test="enti.createAt != null">create_at = #{enti.createAt},</if>
			<if test="enti.updateBy != null">update_by = #{enti.updateBy},</if>
			<if test="enti.updateAt != null">update_at = #{enti.updateAt},</if>
			<if test="enti.dataVersion != null">data_version = #{enti.dataVersion},</if>
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>
</mapper>